/* app css stylesheet */
h1, h2, h3 { font-weight: bold; }

.input-small { width: 100px; }
.pagination { user-select: none; -webkit-user-select: none; -moz-user-select: none; cursor: pointer; }
#gig_details_list dt, #gig_details_list dd {padding-top: 3px; padding-bottom:3px; border-top: dotted 1px #ccc; }
dl { margin-bottom: 5px; }
body { padding: 10px 0px; box-sizing: border-box; }
.navbar { margin-bottom: 0px;}
/*.navbar li > a { padding-right: 0px; }*/
/*.navbar-text { margin-left: 10px; margin-top: 17px }*/
/*.navbar .label { color: #fff !important; margin-top: 2px; margin-bottom: 0px; margin-left: 0px; }*/
ul.navbar-nav {margin-right: 0px; }
.nav > li > a { padding-right: 5px; padding-left: 5px;}
.badge-danger { background-color: #D9534F; }
.badge-success { background-color: #3C763D; }
.pagination { margin: 0px; }
/*.navbar .nav li a { padding: 10px 0px; background-image: linear-gradient(to bottom,#222,#111); }*/
/*.navbar-brand { padding-left: 0px; }*/
#availableCounts h4 {margin: 0px; }
.page-header { margin-bottom: 5px; margin-top: 10px; overflow: auto; }
.gig_list_edit { display: inline; visibility: hidden; }
.active .gig_list_edit, .nav tr:hover .gig_list_edit { visibility: visible;}
/*#gig_list .approve_icon { color: #444; }*/
/*#gig_list .active .approve_icon { color: #fff; }*/
#gig_list .date {font-weight: bold;}
/*#gig_list .active .date { color: #fff; }*/
html, body {height: 100%; margin:0px; padding:0px;}
/*.no-scroll  body{ height: auto; }*/
#nav { padding: 0px; }
#list_container { padding: 0px 10px;}

.tab-content .form-horizontal, .rehearsal-form, .band-availability { max-width: 600px; margin: 0px; padding-top: 10px}
.rehearsal-form .bg-danger { padding: 15px; }
.tab-content { padding-top: 0px !important; }
#gig_details_list { margin-top: 0px; }
#container {
	height: 100%;
	padding: 10px 0px;
	min-height: 100%;
}
#container, #gig_list, #list_container, #nav, .navbar, #gig_loading, #gig {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#gig, #nav { height: 100%;  overflow: hidden; margin-bottom: 0px; position: relative}
/*.navbar { position: absolute; padding: 0px; width: 100%; padding-right: 20px;}*/
#content { height: 100%; }
#gig { overflow-y: auto; padding-right: 20px; position: relative;}
#gig_loading{ display: table; position: absolute; width: 100%; height: 100%; background: rgba(255, 255, 255, .8); z-index: 100;}
#gig_loading div { display: table-cell; vertical-align: middle; padding-right: 20px;}
/*#gig_list { display: block; height: 100%;}*/
/*#list_container { display: block; }*/
#init-loading { height: 100%; background-image:  linear-gradient(180deg, #F1F1F1 0%, #d9edf7 100%); border: 1px solid;}
#init-loading h1 {padding-top: 5%; }
#init-loading img {width: 15%;margin-top: 5%; }
#nav tr:hover td, #nav tr:hover td>a { background-color: #eeeeee; cursor: pointer; color:#005580;}
	  /*#nav a, #nav a:hover { text-decoration: none; }*/
	  #nav .active td, #nav .active td>a, #nav .active td>a:hover, #nav active td>a:focus {
	  color: #ffffff !important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
		  background-color: #0088cc !important;
	  }
.gig_list_availability_edit {  width: auto; display: none; font-size: 85%; height: auto; padding: 0px; margin: 0px; vertical-align: bottom;}
#nav tr.hover .gig_list_availability_edit {  display: inline-block !important; }
 #nav tr.hover .gig_list_availability {  display: none; }
 .navbar-inner { padding: 0px; }
 #availability_info .btn { vertical-align: top; }
 .user_gig_details .user_gig_details_edit { display: none; }
 .user_gig_details.edit .user_gig_details_edit { display: inline; }
 .user_gig_details.edit .user_gig_details_none { display: none; }
#gig_details .alert { padding: 0px; margin:0px;}
#availability_info form { margin-bottom: 0px; }
#availableCounts span { cursor: pointer; }
#nav .availability-save-button, #availability_grid .availability-save-button { display: none; }
#nav .saving .availability-save-button, #availability_grid .saving .availability-save-button { display: inline; line-height: 1; }
#nav tr.hover.saving .gig_list_availability_edit { display: none; }
#nav .saving .gig_list_availability { display: none; }
#page_controls { position: absolute; right: 20px; }
.time-picker {cursor: pointer !important; display: inline-table; }
.time-picker .dropdown-menu { left:0; right: inherit; }

h1 { font-size: 30px; line-height: 1; }
h1 small { font-size: 20px; }
.mobile-nav { display: none; }
/*@media (max-width: 767px) {
	#nav { height: 200px; }
}*/
@media (max-width: 768px) {
	#nav { height: 100%; }
	.mobile-nav { display: block; z-index: 100; }
	#container { padding: 0px;}
	#gig, #edit_gig, .tabbable, .tab-content {
		height: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.navbar-inner {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	#gig { width: 100%; margin: 0px; padding: 0px 5px;}
	#gig { margin-top: -122px; padding: 124px 5px 0px; }
	/*.nav-tabs { position: absolute; overflow-x: auto; overflow-y: hidden; width: 100%; white-space: nowrap; }*/
	/*.nav-tabs li { display: inline-block; float: none; }*/
	/*.nav-tabs li a { padding: 8px 3px; }*/
	#edit_gig { margin-bottom: 0px; }
	.tab-content { padding-top: 60px; }
	.tab-pane { height: 100%; overflow: auto; }
	.page-header, #page_controls { display: none; }
	.mobile-nav { min-height: 109px; margin: 0px; overflow: auto; position: relative;}
	.mobile-nav .navbar-inner { overflow: auto;  margin: 5px 20px; margin-bottom: 60px;}
	.mobile-nav h3.navbar-text { color: #fff; font-size: 20px; margin:0px; overflow: hidden;}
	.mobile-view-nav #gig, .mobile-view-nav .mobile-nav { display: none; }
	.mobile-view-gig #nav { display: none; }
	#mobile_nav_link { position:absolute; left: 5px; top: 5px; z-index: 100; font-size: 30px;cursor: pointer; color: #CCC;}
	.gig_list_edit { display: none; }
	.mobile_nav_arrow { font-size: 2em; padding-top: 7px; color: #CCC;}
  .mobile-nav-controls { position: absolute; bottom: 5px; left: 5px; right: 5px; margin: 0px;}
  .mobile-nav-date { margin-bottom: 5px; }
 }


 .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
/*margin-right: -15px !important;*/
}

.navbar-right {
float: right!important;
}
.navbar-header { float: left; }

#nav {
	display: flex;
	flex-flow: column;
}

.navbar {
	flex: 0 1 auto;
}

#list_container {
	flex: 1 1 auto;
	overflow: auto;
	display: block;
}

.glyphicon-spin{
		-webkit-transform-origin: 50% 50%;
		transform-origin:50% 50%;
		-ms-transform-origin:50% 50%; /* IE 9 */
		-webkit-animation: spin 2s infinite linear;
		-moz-animation: spin 2s infinite linear;
		-o-animation: spin 2s infinite linear;
		animation: spin 2s infinite linear;
}


@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
