<!--
-->
		<div class='alert'style='display:none;' id='status'></div>
    <div class='mobile-nav navbar-inverse navbar-static-top'><div class='navbar-inner text-center'>
		<h3 class='navbar-text' style='display: inline;' >{{gig.title}}</h3>
		<br/><span class='navbar-text' ng-show='gig.date'>{{ gig.date+'T08' | date:'EEEE, MMMM d, y' }}</span>
	</div>

		<div id='mobile_counts'>
			<span class='btn-group'>
			<span ng-click="editAvailable('Yes')" class='btn btn-mini btn-success'>{{(membersList | availableFilter:['Yes', gig]).length }} <i class='icon-smile'></i></span><span ng-click="editAvailable('Maybe')" class='btn btn-mini btn-warning'>{{(membersList | availableFilter:['Maybe', gig]).length }} <i class='icon-meh'></i></span><span ng-click="editAvailable('No')" class='btn btn-mini btn-danger'>{{(membersList | availableFilter:['No', gig]).length }} <i class='icon-frown'></i></span>
			</span>
		</div>
		<a class='btn-prev btn' ng-show='gigsList[currentGigIndex-1]' href='#/gigs?gig_id={{gigsList[currentGigIndex-1].gig_id}}'><i class='icon-double-angle-left'></i> Previous Gig</a>
		<a class='btn-next btn' ng-show='gigsList[currentGigIndex+1]' href='#/gigs?gig_id={{gigsList[currentGigIndex+1].gig_id}}'>Next Gig <i class='icon-double-angle-right'></i></a>

	</div>
		<div id='content' class='row-fluid'>

	<div class='span4 well well-small' id='nav' >
<div class='nav navbar navbar-inverse'><div class='navbar-inner'>
	<div class='container-fluid'>
		<a class="brand" href="#"><img style='width:20px;' src='img/giggity.png'/>Giggity</a>
		<ul class='nav pull-right'>
			<li><a tooltip-placement='bottom' data-tooltip='Sign out or switch user' href='' ng-click='changeUser()' class='nav pull-right'><i class='icon-user'></i> {{currentUserName && currentUserName || 'Not Logged In' }} </a>
			</li>
			<li>
			<p class='nav navbar-text pull-right'><small data-tooltip='{{ gigsList | userUnknownCount:currentUser }} gigs with unknown availability' tooltip-placement='bottom' class='text-error'>&nbsp;({{ gigsList | userUnknownCount:currentUser }})</small></p>
			 </li>
		</ul>
	</div>
</div></div>
		<table id='list_container' class='nav nav-list table table-striped table-condensed table-hover'>
			<tbody id='gig_list'>
			<tr>
				<td colspan='3'>
					<button ng-click='newGig()' id='create_gig' class='btn btn-mini btn-info pull-right'><i class="icon-plus"></i> Create New Gig</button>
				</td>
			</tr>

			<tr ng-repeat="current_gig in gigsList" ng-class="{active:current_gig.gig_id == gig.gig_id }" ng-click='location.search("gig_id", current_gig.gig_id)'  id='{{current_gig.gig_id}}' addclassonhover='hover'>
			
				<td>
					<i class='approve_icon' ng-class="{'icon-thumbs-up': current_gig.approved==1, 'icon-thumbs-down':current_gig.approved==-1, 'icon-question-sign': current_gig.approved==0}"></i> 	
				</td><td>
				<span class='date'>{{current_gig.date+'T08' | date:'M/d'}}</span>
				</td>
				<td>
				<span ng-click='changeGig(current_gig.gig_id, 1);' eat-click=1 class='gig_list_edit pull-right'><i class='icon-pencil'></i> Edit</span>
				<a href=''ng-class='{muted: current_gig.approved == -1}'>{{current_gig.title}} </a>
				<div ng-show='currentUser && current_gig.approved != -1' ng-class="{'text-error': getAvailability(current_gig.gig_id) == 'Unknown'}">
					<small>Your Availability:</small>
					<select ng-change='setAvailabilityFromList(current_gig.gig_id)' ng-model='gigs[current_gig.gig_id].availability[currentUser].available' class='gig_list_availability_edit input-small' eat-click=1>
						<option value='Yes' data-icon='icon-smile'>Available</option>
						<option value='No' data-icon='icon-frown'>Unavailable</option>
						<option data-icon='icon-meh'>Maybe</option>
						<option data-icon='icon-question'>Unknown</option>
					</select>
					<small class='gig_list_availability'>
						<i ng-class="{'icon-smile': current_gig.availability[currentUser].available == 'Yes', 'icon-frown': current_gig.availability[currentUser].available == 'No', 'icon-meh': current_gig.availability[currentUser].available == 'Maybe', 'icon-question': current_gig.availability[currentUser].available == 'Unknown'}"></i>&nbsp;{{current_gig.availability[currentUser].available | available }}
					</small>
					<button data-loading-text='{{savingText}}' class='btn btn-inverse btn-mini availability-save-button' type='button'></button>

				</div>
			</td>
			
			</tr>
		</tbody>
		</table>
	</div>
	<div style='' class='span8' id='gig'>
		<div id='gig_loading' fade-in='gig_loading' style='display:none;'>
			<div>
				<h1 class='text-center alert alert-info'><i class='icon-refresh icon-spin'></i> Loading</h1>
			</div>
		</div>

		<div class='page-header'>
			<h1>{{gig.title}}<br/><small ng-show='gig.date'>{{ gig.date+'T08' | date:'EEEE, MMMM d, y' }}&nbsp; <span gig-status='{{gig.approved}}'></span></small>
			<div id='availableCounts' class='pull-right'>
				<small>
				<span ng-click="editAvailable('Yes')" class='text-success'>{{(membersList | availableFilter:['Yes', gig]).length }} Available</span>
				<span ng-click="editAvailable('Maybe')" class='text-warning'>{{(membersList | availableFilter:['Maybe', gig]).length }} Maybes</span>
				<span ng-click="editAvailable('No')" class='text-error'>{{(membersList | availableFilter:['No', gig]).length }} Unavailable</span>
				</small>
			</div>
			</h1>
		</div>
		<div class='pull-right btn-group clearfix' id='page_controls'>
			<a class='pull-left btn btn-mini' ng-show='gigsList[currentGigIndex-1]' href='#/gigs?gig_id={{gigsList[currentGigIndex-1].gig_id}}'><i class='icon-double-angle-left'></i> Previous Gig</a>
			<a class='pull-right btn btn-mini' ng-show='gigsList[currentGigIndex+1]' href='#/gigs?gig_id={{gigsList[currentGigIndex+1].gig_id}}'>Next Gig <i class='icon-double-angle-right'></i></a>
		</div>


		<form id='edit_gig' class='form-horizontal clearfix' ng-submit="saveGig()">

			<input type='hidden' name='gig_id' ng-model='gig.gig_id'/>
			<tabs>
				<pane heading='Gig Details' class='active tab-pane' id='gig_details' active="current_tab == 'gig_details'">
					<dl id='gig_details_list' class='dl-horizontal' style='clear:both'>
						<dt>Approval Status</dt>
						<dd class='clearfix' gig-status='{{gig.approved}}'></dd>

						<div ng-show='currentUser' id='availability_info' ng-class="getAvailability() == 'Unknown' && 'alert-error' || 'alert-info'" class='alert alert-info'>
							<div class='text-error lead' ng-show="getAvailability() == 'Unknown'">You haven't entered your availability for this gig.</div>
							<dt>Your Availability</dt>
							<dd id='user_availability' class='user_gig_details'>
								<div class='user_gig_details_none'>
									<i ng-class="{'icon-smile': gig.availability[currentUser].available == 'Yes', 'icon-frown': gig.availability[currentUser].available == 'No', 'icon-meh': gig.availability[currentUser].available == 'Maybe', 'icon-question': gig.availability[currentUser].available == 'Unknown'}"></i> {{gig.availability[currentUser].available | available }}
									<span class='btn btn-mini' ng-click='editUserAttrib("user_availability")'><i class='icon-edit'></i> Edit</span>
								</div>
								<div class='user_gig_details_edit'>
									<select id='user_availability_input' ng-model='gigs[gig.gig_id].availability[currentUser].available' class='input-small'>
										<option value='Yes' data-icon='icon-smile'>Available</option>
										<option value='No' data-icon='icon-frown'>Unavailable</option>
										<option data-icon='icon-meh'>Maybe</option>
										<option data-icon='icon-question'>Unknown</option>
									</select>
									<button ng-click='setAvailability($event)' data-loading-text='{{savingText}}' class='btn btn-primary' type='button' value='Save'><i class='icon-ok icon-white'></i>Save</button>
								</div>
							</dd>
							<dt ng-hide='gig.approved==0' ></dt>
							<dd ng-hide='gig.approved==0' >
								Discussion has been closed because the gig has been {{ gig.approved == -1 && 'denied' || 'approved' }}.	
							</dd>
							<dt ng-hide='gig.approved!=0' >Your Concerns</dt>
							<dd ng-hide='gig.approved!=0' id='user_concerns' class='user_gig_details'>
								<div class='user_gig_details_edit'>
									<textarea class='input-xlarge' id='user_concerns_input' spellcheck="true" rows=5 ng-model='gigs[gig.gig_id].availability[currentUser].concerns' placeholder="Do you have concerns about the BLO supporting this gig?"></textarea>
									<button ng-click='setAvailability($event)' data-loading-text='{{savingText}}' class='btn btn-primary' type='button' value='Save'><i class='icon-ok icon-white'></i>Save</button>
								</div>
								<div class='user_gig_details_none'>
									{{gig.availability[currentUser].concerns || 'None' }}
									<span class='btn btn-mini' ng-click='editUserAttrib("user_concerns")'><i class='icon-edit'></i> Edit</span>
								</div>
							</dd>
							<dt ng-hide='gig.approved!=0'>Your Comments</dt>
							<dd ng-hide='gig.approved!=0' id='user_comments' class='user_gig_details'>
								<div class='user_gig_details_edit'>
									<textarea class='input-xlarge' id='user_comments_input' spellcheck="true" rows=5 ng-model='gigs[gig.gig_id].availability[currentUser].comments' placeholder="Enter any questions or comments you have about the gig"></textarea>
									<button ng-click='setAvailability($event)' data-loading-text='{{savingText}}' class='btn btn-primary' type='button' value='Save'><i class='icon-ok icon-white'></i>Save</button>
								</div>
								<div class='user_gig_details_none'>
									{{gig.availability[currentUser].comments || 'None' }}
									<span class='btn btn-mini' ng-click='editUserAttrib("user_comments")'><i class='icon-edit'></i> Edit<span>
								</div>
							</dd>
					</div>
						<dt>When</dt>
						<dd class='clearfix'><span ng-show='gig.date'>{{ gig.date+'T08' | date:'EEEE, MMMM d, y' }} from {{gig.start_time | time }} - {{ gig.end_time  | time}}
							<br/>Meet at {{ gig.meet_time | time }}	
							<br/>Band play time from {{gig.band_start | time }} to {{gig.band_end | time}}
							</span>&nbsp;
						</dd>
						<dt>Where</dt>
						<dd class='clearfix'>{{ gig.location}} <span ng-show='gig.location'>[<small><a href='http://maps.google.com?q={{gig.location | URIencode }}' target='map'><i class='icon-map-marker'></i>Map</a></small>]</span>&nbsp; </dd>
						<dt>Tactical</dt>
						<dd class='clearfix'><a href='mailto:{{gig.tactical.email}}'>{{ gig.tactical.name }}</a>&nbsp; </dd>
						<dt>Musical</dt>
						<dd class='clearfix'><a href='mailto:{{gig.musical.email}}'>{{ gig.musical.name }}</a>&nbsp; </dd>
						<dt>Colors</dt>
						<dd class='clearfix'>{{ gig.colors}}&nbsp; </dd>
						<dt>Who's Coming</dt>
							<dd class='clearfix'>
							<strong>Yes:</strong> {{(membersList | availableFilter:['Yes', gig] | name)}}
							<br/><strong>Maybe:</strong> {{(membersList |  availableFilter:['Maybe', gig] | name)}}
							<br/><strong>No:</strong> {{(membersList |  availableFilter:['No', gig] | name)}}
							</dd>

						<dt>Notes</dt>
						<dd class='clearfix'>{{ gig.notes}}&nbsp; </dd>
						<div ng-class="{'alert alert-error':(membersList | concernFilter:gig).length > 0}"> 
							<dt>Member Concerns</dt>
							<dd class='clearfix'>
								<span class='' member-comments></span>
							</dd>
						</div>
						<dt>Member Comments</dt>
							<dd class='clearfix'>
								<span class='' member-comments type='comments'></span>
							</dd>
						<!--<div ng-show='isCollapsed'><dt><a href='' ng-click="isCollapsed = !isCollapsed">More details…</a></dt><dd>&nbsp;</dd></div>
						<div collapse='isCollapsed'>-->
						<h4 class='text-info'>Event Details</h4>
							<dt>Description</dt>
							<dd class='clearfix'>{{ gig.description}}&nbsp; </dd>
							<dt>Public Description</dt>
							<dd class='clearfix'>{{ gig.public_description}}&nbsp; </dd>
							<dt>Organizer</dt>
							<dd class='clearfix'>{{ gig.who}}&nbsp; </dd>
							<dt>Contact</dt>
							<dd class='clearfix'>{{ gig.contact}}&nbsp; </dd>
							<div gig-details='1'></div>
							<!--</div>-->

					</dl>
					<div ng-hide='isCollapsed'><dt><a href='' ng-click="isCollapsed = !isCollapsed">Fewer details</a></dt><dd class='clearfix'>&nbsp;</dd></div>
				</pane>
				<pane heading='Edit Band Info' class='tab-pane' id='band_details' active="current_tab == 'band_details'">
					<div class='alert alert-error' ng-show="gig.approved == 1 && !gig.public_description">This gig has been approved, but can't be published to the public calendar until a public description has been entered below.</div>
					<div class='btn-group pull-right'>
						<button class='btn btn-primary save-gig-button' data-loading-text='{{savingText}}' type='submit' value='Save Gig'><i class='icon-ok icon-white'></i> Save Gig</button>
						<button class='btn btn-danger' type='button' ng-click='toggleDeleteModal()' value='Delete Gig'><i class='icon-remove icon-white'></i> Delete Gig</button>
					</div>	
					<div class='control-group'>
						<label class='control-label' for='title'>Title</label>
						<div class='controls'><input class='input-xlarge' type='text' ng-model='gig.title'/></div>
					</div>
					<div class='control-group'>
						<label class="control-label">Band Approval</label>
						<div class="controls">
							<div class="btn-group">
								<button type="button" class="btn" ng-click='gig.approved=1' ng-class="{'active btn-success': gig.approved == 1}"><i class='icon-thumbs-up'ng-class="{'icon-white': gig.approved == 1}"></i> Approved</button>
								<button type="button" class="btn" ng-click='gig.approved=0' ng-class="{'active btn-warning': gig.approved == 0}" ><i class='icon-question-sign' ng-class="{'icon-white': gig.approved == 0}"></i> Undecided</button>
								<button type="button" class="btn" ng-click='gig.approved=-1' ng-class="{'active btn-danger': gig.approved == -1}" ><i class='icon-thumbs-down'ng-class="{'icon-white': gig.approved == -1}"></i> Declined</button>
							</div>
						</div>
					</div>
					<div class='control-group'>
					<span class="control-label">Band Meet Time</span>
						<div class='controls form-inline'>
							<span class='input-append bootstrap-timepicker'>
								<input class='input-small' id='meet_time' timepicker type='text' ng-model='gig.meet_time'/>
								<span class="add-on"><i class="icon-time"></i></span>
							</span>
						</div>
					</div>
					<div class='control-group'>
					<span class="control-label">Band Play Time</span>
						<div class='controls form-inline'>
							<span class='input-append bootstrap-timepicker'>
								<input class='input-small' type='text' id='band_start' timepicker ng-model='gig.band_start'/>
								<span class="add-on"><i class="icon-time"></i></span>
							</span>
							<span class='input-append bootstrap-timepicker'>
								<label for='band_end'>To</label>
								<input class='input-small' type='text' id='band_end' timepicker ng-model='gig.band_end'/>
								<span class="add-on"><i class="icon-time"></i></span>
							</span>
						</div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='tactical'>Tactical</label>
						<div class='controls'><input class='input-xlarge' autocomplete='off' type='text' ng-model='gig.tactical' typeahead='member as member.name for member in membersList | filter:{name:$viewValue}' /></div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='musical'>Musical</label>
						<div class='controls'><input class='input-xlarge' autocomplete='off' type='text' typeahead='member as member.name for member in membersList | filter:{name: $viewValue}' ng-model='gig.musical'/></div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='colors'>Colors</label>
						<div class='controls'><input class='input-xlarge' type='text' autocomplete='off' typeahead="c for c in ['Red and Black', 'Pink and Black', 'Black and Black'] | filter:$viewValue" ng-model='gig.colors'/></div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='public_description'>Public Description</label>
						<div class='controls'><textarea class='input-xlarge' spellcheck="true" ng-model='gig.public_description'/></div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='notes'>Notes</label>
						<div class='controls'><textarea class='input-xlarge' spellcheck="true" rows=5 ng-model='gig.notes'/></div>
					</div>

				</pane>
				<pane heading='Edit Event Info' class='tab-pane' id='event_details'>
					<div class='btn-group pull-right'>
						<button class='btn btn-primary save-gig-button' data-loading-text='{{savingText}}' type='submit' value='Save Gig'><i class='icon-ok icon-white'></i> Save Gig</button>
						<button class='btn btn-danger' type='button' ng-click='toggleDeleteModal()' value='Delete Gig'><i class='icon-remove icon-white'></i> Delete Gig</button>
					</div>	
					<div class='control-group'>
						<label class='control-label' for='title'>Title</label>
						<div class='controls'><input class='input-xlarge' type='text' ng-model='gig.title'/></div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='date'>Date</label>
						<div class='controls'><input class='input-xlarge' type='date' ng-model='gig.date'/></div>
					</div>
					<div class='control-group'>
						<span class="control-label">Event Time</span>
						<div class='controls form-inline'>
							<span class='bootstrap-timepicker input-append'>
							<input class='input-small' type='text' id='start_time' timepicker ng-model='gig.start_time'/>
							<span class="add-on"><i class="icon-time"></i></span>
							</span>
							<span class='bootstrap-timepicker input-append'>
							<label for='end_time'>To</label>
							<input class='input-small' type='text' id='end_time' timepicker ng-model='gig.end_time'/>
							<span class="add-on"><i class="icon-time"></i></span>
							</span>
						</div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='location'>Location</label>
						<div class='controls'><input class='input-xlarge' type='text' ng-model='gig.location'/></div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='description'>Description</label>
						<div class='controls'><textarea class='input-xlarge' spellcheck="true" rows=5 ng-model='gig.description'/></div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='who'>Organizer</label>
						<div class='controls'><input class='input-xlarge' type='text' ng-model='gig.who'/></div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='contact'>Contact</label>
						<div class='controls'><input class='input-xlarge' type='text' ng-model='gig.contact'/></div>
					</div>
					<div class='control-group'>
						<label class='control-label' for='details'>Details</label>
						<div class='controls'><textarea class='input-xlarge' spellcheck="true" rows=8 ng-model='gig.details'/></div>
					</div>
				</pane>
				<pane id='availability-tab' heading='Band Availability' class='tab-pane' id='event_details' active="current_tab == 'availability'">
					<fieldset class='form-inline well well-small'>
							<label><strong>Filters:</strong></label>
							<label>Name:</label>
							<input autocomplete='off' style='margin-right: 20px;' class='input-small' type='text' ng-model='membernamefilter'/>
							<label>Availability:</label>
							<select class='input-small' ng-model='memberavailablefilter' id='member_availability_filter'>
								<option value='' data-icon='icon-smile'>All</option>
								<option value='Yes' data-icon='icon-smile'>Available</option>
								<option value='No' data-icon='icon-frown'>Unavailable</option>
								<option data-icon='icon-meh'>Maybe</option>
								<option data-icon='icon-question'>Unknown</option>
							</select>
					</fieldset>
					<table class="table table-bordered table-hover table-striped" id='availability_grid'>
						<thead><tr>
								<th>Name</th><th>Available</th><th>Maybe</th><th>Not Available</th><th>Unknown</th>
						</tr></thead>
						<tbody>
							<tr ng-class="{'success': getAvailability(gig.gig_id, member.id) == 'Yes', 'error':  getAvailability(gig.gig_id, member.id) == 'No', 'warning': getAvailability(gig.gig_id, member.id) == 'Maybe'}" ng-repeat="member in membersList | filter:{name:membernamefilter} | availableFilter:[memberavailablefilter, gig]" id="availability_{{member.id}}">
								<td>{{member.name}} <small>({{member.groups}})</small>
									<button data-loading-text='{{savingText}}' class='btn btn-info availability-save-button' type='button'></button>
								</td>
								<td><input ng-change='setAvailabilityFromGrid(member.id)' type='radio' value='Yes' ng-model='gig.availability[member.id].available' name='{{member.id}}_available'/></td>
								<td><input ng-change='setAvailabilityFromGrid(member.id)' type='radio' value='Maybe' ng-model='gig.availability[member.id].available' name='{{member.id}}_available'/></td>
								<td><input ng-change='setAvailabilityFromGrid(member.id)' type='radio' value='No' ng-model='gig.availability[member.id].available' name='{{member.id}}_available'/></td>
								<td><input ng-change='setAvailabilityFromGrid(member.id)' type='radio' value='Unknown' ng-model='gig.availability[member.id].available' name='{{member.id}}_available'/></td>
							</tr>
						</tbody>
					</table>

				</pane>
			</tab>
			
		</form>
	</div>
</div>
<div id='loginModal' data-keyboard='true' class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Sign In!</h3>
  </div>
  <div class="modal-body form-inline" style='max-height: 10000px; overflow: visible;'>
	  <p>This will make it easier for you to set your gig availability</p>
	  <form id='login_form' class='control-group' ng-submit='setUser()'>
		<span id='login_error' class="help-inline" style='display: none;'>The name you typed isn't recognized. Please select a name from the dropdown. </span>
		  <input autocomplete='off' id='current_user_input' type='text' ng-model='user' placeholder='Just type your name' typeahead='member as member.name for member in membersList | filter:{name:$viewValue}' />

    <button type='submit' class="btn btn-primary">OK</button>
    <button type='button' data-toggle='modal' data-target='#loginModal' class="btn">Log Out</button>
		</form>
  </div>
</div>

<div id='deleteModal' data-keyboard='true' class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Delete '{{gig.title}}'?</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <a href="" ng-click='deleteGig(gig.gig_id)' class="btn btn-primary">Yes</a>
    <a href="" ng-click='toggleDeleteModal()' class="btn">Cancel</a>
  </div>
</div>

