<div class='alert'style='display:none;' id='status'></div>
<div id='content' class='{{mobileView}}' ng-class="{'mobile scroll-container':mobile}">
	<div class='well well-small scroll-container' ng-class='{"col-sm-4": !mobile}' id='nav' >
		<nav class="navbar navbar-inverse scroll-header">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#" class="navbar-brand"><img style='width:20px;display: inline' src='img/giggity.png'/> Giggity</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class='user-link' tooltip-placement='bottom' data-tooltip='Sign out or switch user' href='' ng-click='changeUser()'><i class='glyphicon glyphicon-user'></i> {{currentUserName && currentUserName || 'Not Signed In' }} </a>
					</li>
					<li>
						<a><small class='badge' data-tooltip='{{ Gigs.gigsList | userUnknownCount:currentUser }} gigs with unknown availability' tooltip-placement='bottom' ng-class="(Gigs.gigsList | userUnknownCount:currentUser) == 0 && ' ' || 'badge-danger'">{{ Gigs.gigsList | userUnknownCount:currentUser }}</small></a>
					</li>
					<li class="dropdown" ng-hide='mobile' tooltip-placement='bottom' data-tooltip='Options'>
						<a class="dropdown-toggle" href='' data-toggle="dropdown"><i class='glyphicon glyphicon-cog'></i></a>
						<ul class='dropdown-menu'>
							<li>
								<div style='padding: 0px 10px;' class='checkbox'>
									<label> <input type='checkbox' ng-model='fetchAllGigs'> Show Past Gigs</label>
								</div>
							</li>
							<li><a href='/gig_request.php' target='_blank'>Add a new gig</a></li>
						</ul>
					</li>
					<li tooltip-placement='bottom' data-tooltip='Refresh gigs'>
						<a href='' ng-click='fetchGigs()' ><i class='glyphicon glyphicon-refresh' ng-class='{"glyphicon-spin": fetchingGigs}'></i></a>
					</li>
				</ul>
			</div><!-- /.container-fluid -->
		</nav>
		<table id='list_container' class='nav nav-list table table-striped table-condensed table-hover scroll-body'>
			<tbody id='gig_list'>
				<tr ng-show='Gigs.gigsList.length > gigLimit'>
					<td colspan='3' class='text-center'>
					</td>
				</tr>
				<tr>
					<td colspan='3'>
						<div class='checkbox pull-left' style='margin: 0px;'>
							<label> <input type='checkbox' ng-model='Gigs.hideRehearsals'> Hide Rehearsals</label>
						</div>
						<div class="btn-group pull-right">
							<button ng-click='newGig("rehearsal")' id='create_rehearsal' class='btn btn-xs btn-info'><i class="glyphicon glyphicon-plus"></i> New Rehearsal</button>
							<button ng-click='newGig()' id='create_gig' class='btn btn-xs btn-info'><i class="glyphicon glyphicon-plus"></i> New Gig</button>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan='3' class='text-center' ng-show='Gigs.gigsList.length > gigLimit'>
						<pagination class="pagination-sm" ng-model='page' items-per-page='gigLimit' max-size='7' boundary-links='true' total-items='Gigs.gigsList.length'></pagination>
					</td>
				</tr>
				<tr ng-click='changeGig(current_gig.gig_id)' ng-repeat="current_gig in Gigs.gigsList | slice:gigLimit*(page-1):gigLimit" ng-class="{active:current_gig.gig_id == gig.gig_id, info: current_gig.is_tactical == 1 || current_gig.is_musical == 1 }" id='{{current_gig.gig_id}}' addclassonhover='hover'>
					<td>
						<i class='approve_icon glyphicon' ng-class="{'glyphicon-thumbs-up': current_gig.approved==1, 'glyphicon-thumbs-down':current_gig.approved==-1, 'glyphicon-question-sign': current_gig.approved==0 && current_gig.type == 'gig', 'glyphicon-heart text-danger': current_gig.type == 'rehearsal'}"></i>
					</td>
					<td>
						<span ng-if='fetchAllGigs' class='date'>{{current_gig.date+'T08' | date:'MM/dd/yy'}}</span>
						<span ng-if='!fetchAllGigs' class='date'>{{current_gig.date+'T08' | date:'MM/dd'}}</span>
					</td>
					<td style='width: 100%' class='form-inline'>
						<span ng-show='mobile' class='pull-right mobile_nav_arrow'><i class='glyphicon glyphicon-chevron-right'></i></span>
						<span ng-click='changeGig(current_gig.gig_id, 1);' eat-click=1 class='gig_list_edit pull-right'><i class='glyphicon glyphicon-pencil'></i> Edit</span>
						<a href='' ng-class='{"text-muted": current_gig.approved == -1}' data-tooltip='{{(current_gig.is_tactical == 1 || current_gig.is_musical == 1) ? "You are "+(current_gig.is_tactical == 1 ? "tactical" : "musical")+" for this gig" : ""}}'>{{current_gig.title}} <span ng-if="(current_gig.is_tactical == 1 || current_gig.is_musical == 1)" class="glyphicon"  ng-class="{'glyphicon-bullhorn': current_gig.is_tactical == 1, 'glyphicon-music': current_gig.is_musical == 1}"></span></a>
						<div class='form-inline' ng-show='currentUser && current_gig.approved != -1' ng-class="{'text-danger': getAvailability(current_gig.gig_id) == 'Unknown'}">
							<small>Your Availability:</small>
							<select style='display: none;' loading-feedback='setAvailability({{currentUser}}, {{current_gig.gig_id}})' ng-model='Gigs.gigs[current_gig.gig_id].availability[currentUser].available' class='gig_list_availability_edit form-control input-xs' eat-click=1>
								<option value='Yes' data-icon='glyphicon glyphicon-smile'>Available</option>
								<option value='No' data-icon='glyphicon glyphicon-frown'>Unavailable</option>
								<option data-icon='glyphicon glyphicon-meh'>Maybe</option>
								<option data-icon='glyphicon glyphicon-question'>Unknown</option>
							</select>
							<small class='gig_list_availability'>
								<i ng-class="{'glyphicon glyphicon-smile': Gigs.gigs[current_gig.gig_id].availability[currentUser].available == 'Yes', 'glyphicon glyphicon-frown': Gigs.gigs[current_gig.gig_id].availability[currentUser].available == 'No', 'glyphicon glyphicon-meh': Gigs.gigs[current_gig.gig_id].availability[currentUser].available == 'Maybe', 'glyphicon glyphicon-question': Gigs.gigs[current_gig.gig_id].availability[currentUser].available == 'Unknown'}"></i>&nbsp;{{Gigs.gigs[current_gig.gig_id].availability[currentUser].available | available }}
							</small>
							<!-- <button data-loading-text='{{savingText}}' class='btn btn-default btn-xs availability-save-button' type='button'></button> -->
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class='mobile-nav navbar-inverse navbar-static-top container-fluid scroll-header'>
		<div class='navbar-inner text-center row'>
			<i class='glyphicon glyphicon-menu-hamburger' id='mobile_nav_link' ng-click="setView(true)"></i>
			<h3 class='navbar-text'>{{gig.title}}</h3>
		</div>
		<div class='row mobile-nav-controls'>
			<div class='col-xs-12 text-center mobile-nav-date'>
				<span class='navbar-text' ng-show='gig.date'>{{ gig.date+'T08' | date:'EEEE, MMMM d, y' }}</span>
			</div>
			<div class='col-xs-2 text-left'>
				<a class='btn-prev btn-circle btn btn-primary' ng-show='Gigs.gigsList[currentGigIndex-1]' ng-click='changeGig(Gigs.gigsList[currentGigIndex-1].gig_id)'><i class='glyphicon glyphicon-menu-left'></i></a>
			</div>
			<div class='col-xs-8 text-center'>
				<span class='btn-group'>
					<button class='btn btn-primary btn-sm' feedback-button ng-click='saveGig()'><i class='glyphicon glyphicon-ok'></i> Save Gig</button>
					<button class='btn btn-danger btn-sm' feedback-button ng-click='setModalState("confirm")'><i class='glyphicon glyphicon-remove'></i> Delete Gig</button>
				</span>
			</div>
			<div class='col-xs-2 text-right'>
				<a class='btn-next btn-circle btn btn-primary' ng-show='Gigs.gigsList[currentGigIndex+1]' ng-click='changeGig(Gigs.gigsList[currentGigIndex+1].gig_id)'><i class='glyphicon glyphicon-menu-right'></i></a>
			</div>
		</div>
	</div>

	<div style='' class='col-md-8 scroll-container' id='gig'>
		<div id='gig_loading' ng-show='gig_loading' fade-in='gig_loading'>
			<div>
				<h1 class='text-center alert alert-info'><i class='glyphicon glyphicon-refresh glyphicon glyphicon-spin'></i> Loading</h1>
			</div>
		</div>
		<div ng-if='gig.gig_id' class='scroll-container'>
			<div class='page-header scroll-header'>
				<h1>
					<div class='pull-right text-right'>
						<div class='btn-group'>
							<button class='btn btn-primary' feedback-button ng-click='saveGig()'><i class='glyphicon glyphicon-ok'></i> Save Gig</button>
							<button class='btn btn-danger' feedback-button ng-click='setModalState("confirm")'><i class='glyphicon glyphicon-remove'></i> Delete Gig</button>
						</div>
					</div>
					{{gig.title}}<br/>
					<small ng-show='gig.date'>{{ gig.date+'T08' | date:'EEEE, MMMM d, y' }}&nbsp; <span ng-if='gig.type == "gig"' gig-status='{{gig.approved}}'></span></small>
				</h1>
						<div class='col-xs-2'>
							<a class='btn btn-xs btn-default' ng-show='Gigs.gigsList[currentGigIndex-1]' ng-click="changeGig(Gigs.gigsList[currentGigIndex-1].gig_id)"><i class='glyphicon glyphicon-menu-left'></i> Previous Gig</a>
						</div>
						<div class='col-xs-8 text-center' id='availableCounts'>
							<h4>
								<span ng-click="editAvailable('Yes')" class='label label-success'>{{(membersList | availableFilter:['Yes', gig]).length }} Available</span>
								<span ng-click="editAvailable('Maybe')" class='label label-warning'>{{(membersList | availableFilter:['Maybe', gig]).length }} Maybes</span>
								<span ng-click="editAvailable('No')" class='label label-danger'>{{(membersList | availableFilter:['No', gig]).length }} Unavailable</span>
							</h4>
						</div>
						<div class='col-xs-2 text-right'>
							<a class='btn btn-xs btn-default' ng-show='Gigs.gigsList[currentGigIndex+1]' ng-click="changeGig(Gigs.gigsList[currentGigIndex+1].gig_id)">Next Gig <i class='glyphicon glyphicon-menu-right'></i></a>
						</div>
			</div>

			<form ng-show='gig.type == "rehearsal"' id='edit_gig' class='form-horizontal clearfix rehearsal-form scroll-body' ng-submit="saveGig()">
				<input style='visibility: hidden; position: absolute; top:0px; left: 0px; width: 1px; height: 1px;' type='submit'/>
				<input type='hidden' name='gig_id' ng-model='gig.gig_id'/>
				<tabset justified="!mobile">
					<tab heading='Details' class='form-inline' id='gig_details' active="tab['gig_details']">
						<div class='rehearsal-container'>
							<div ng-show='currentUser && gig.gig_id != "new"' class='form-group'>
								<label class='col-md-4 control-label text-right'>Your Availability</label>
								<div class='col-md-8' ng-class="getAvailability() == 'Unknown' && 'bg-danger' || ''">
									<div class='alert-danger' ng-show="getAvailability() == 'Unknown'">You haven't entered your availability for this rehearsal.</div>
										<div class='user_gig_details_edit form-inline' ng-init='saving=false' feedback='saving'>
											<select id='user_availability_input' ng-model='gig.availability[currentUser].available' class='form-control' loading-feedback='setAvailability()'>
												<option value='Yes' data-icon='glyphicon glyphicon-smile'>Available</option>
												<option value='No' data-icon='glyphicon glyphicon-frown'>Unavailable</option>
												<option data-icon='glyphicon glyphicon-meh'>Maybe</option>
												<option data-icon='glyphicon glyphicon-question'>Unknown</option>
											</select>
										</div>
								</div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='title'>Title</label>
								<div class='col-md-8'>
									<input class='form-control' type='text' ng-model='gig.title'/>
								</div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='date'>Date</label>
								<div class='col-md-8'>
									<date-picker model='gig.date'></date-picker>
								</div>
							</div>
							<div class='form-group'>
								<label class="col-md-4 control-label text-right">Time</label>
								<div class='col-md-8'>
									<time-picker model='gig.band_start'></time-picker>
									<label for='band_end'  style='vertical-align: text-bottom;'>To</label>
									<time-picker model="gig.band_end"></time-picker>
								</div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='location'>Location</label>
								<div class='col-md-8'>
									<input class='form-control' type='text' ng-model='gig.location'/>
								</div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='notes'>Details</label>
								<div class='col-md-8'>
									<textarea class='form-control' spellcheck="true" rows=5 ng-model='gig.notes'></textarea>
								</div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right'>Who's Coming</label>
								<div class='col-md-8'>
									<strong>Yeses:</strong> {{(membersList | availableFilter:['Yes', gig] | memberProperty:['name'])}}
									<br/><strong>Maybes:</strong> {{(membersList |  availableFilter:['Maybe', gig] |  memberProperty:['name'])}}
									<br/><strong>Noes:</strong> {{(membersList |  availableFilter:['No', gig] |  memberProperty:['name'])}}
									<br/>Contact Yeses and Maybes: <a href="sms:{{(membersList | availableFilter:['Coming', gig] | memberProperty:['phone'])}}">Text</a> |
									<a href="mailto:{{(membersList | availableFilter:['Coming', gig] | memberProperty:['email', ';'])}}">Email</a>
								</div>
							</div>
						</div>
					</tab>
					<tab heading='Availability' class='tab-pane' id='availability' active="tab['availability']">
						<div class='band-availability'>
							<div class='panel panel-default'>
								<div class='panel-heading'>
									<div class='row form-inline text-center'>
										<span class='col-xs-6'>
											<label for='name_filter'>Name:</label>
											<input name='name_filter' autocomplete='off' style='margin-right: 20px;' class='form-control input-sm' type='text' ng-model='membernamefilter'/>
										</span>
										<span class='col-xs-6'>
											<label for='availability_filter'>Availability:</label>
											<select name='availability_filter' class='form-control input-sm' ng-model='memberavailablefilter' id='member_availability_filter'>
												<option value='' data-icon='glyphicon glyphicon-smile'>All</option>
												<option value='Yes' data-icon='glyphicon glyphicon-smile'>Available</option>
												<option value='No' data-icon='glyphicon glyphicon-frown'>Unavailable</option>
												<option data-icon='glyphicon glyphicon-meh'>Maybe</option>
												<option data-icon='glyphicon glyphicon-question'>Unknown</option>
											</select>
										</span>
									</div>
								</div>
								<ul class='list-group'>
									<li ng-class="{
											'list-group-item-success': gig.availability[member.id].available == 'Yes',
											'list-group-item-warning': gig.availability[member.id].available == 'Maybe',
											'list-group-item-danger': gig.availability[member.id].available == 'No'
										}" class='list-group-item' ng-repeat="member in membersList | filter:{name:membernamefilter} | availableFilter:[memberavailablefilter, gig]" id="availability_{{member.id}}">
										<div class='row'>
											<span class='col-xs-5'>
												{{member.name}} <!--<small ng-style="{display: mobile ? 'block': ''}">({{member.groups}})</small>-->
											</span>
											<span class='col-xs-7'>
												<div class="btn-group btn-group" ng-class='{"btn-group-xs": mobile}' ng-click='update()' loading-feedback="setAvailability({{member.id}})">
														<label class="btn btn-default" ng-class="{'btn-success': gig.availability[member.id].available == 'Yes'}" ng-model="gig.availability[member.id].available" btn-radio="'Yes'">Yes</label>
														<label class="btn btn-default" ng-class="{'btn-warning': gig.availability[member.id].available == 'Maybe'}" ng-model="gig.availability[member.id].available" btn-radio="'Maybe'">Maybe</label>
														<label class="btn btn-default" ng-class="{'btn-danger': gig.availability[member.id].available == 'No'}" ng-model="gig.availability[member.id].available" btn-radio="'No'">No</label>
														<label class="btn btn-default" ng-model="gig.availability[member.id].available" btn-radio="'Unknown'">Unknown</label>
												</div>
											</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</tab>
				</tabset>
			</form>

			<form ng-show='gig.type == "gig"' id='edit_gig' class='form-horizontal clearfix gig-form scroll-container' ng-submit="saveGig()">
				<input style='visibility: hidden; position: absolute; top:0px; left: 0px; width: 1px; height: 1px;' type='submit'/>
				<input type='hidden' name='gig_id' ng-model='gig.gig_id'/>
				<tabset justified="!mobile">
					<tab heading='Details' class='form-inline' id='gig_details' active="tab['gig_details']">
						<dl id='gig_details_list' class='dl-horizontal' style='clear:both'>
							<dt>Status</dt>
							<dd class='clearfix' gig-status='{{gig.approved}}'></dd>

							<div ng-show='currentUser && gig.gig_id != "new"' id='availability_info' ng-class="getAvailability() == 'Unknown' && 'alert-danger' || 'alert-info'" class='alert alert-info'>
								<div class='lead' ng-show="getAvailability() == 'Unknown'">You haven't entered your availability for this gig.</div>
								<dt>Your Availability</dt>
								<dd id='user_availability' class='user_gig_details form-inline' edit-toggle>
									<select id='user_availability_input' ng-model='gig.availability[currentUser].available' class='form-control input-sm user_gig_details_edit' loading-feedback='setAvailability()'>
										<option value='Yes' data-icon='glyphicon glyphicon-smile'>Available</option>
										<option value='No' data-icon='glyphicon glyphicon-frown'>Unavailable</option>
										<option data-icon='glyphicon glyphicon-meh'>Maybe</option>
										<option data-icon='glyphicon glyphicon-question'>Unknown</option>
									</select>
									<span class='user_gig_details_none'>{{gig.availability[currentUser].available | available }}</span>
								</dd>
								<dt>Your Comments</dt>
								<dd id='user_comments' class='user_gig_details' edit-toggle>
									<textarea class='form-control user_gig_details_edit' id='user_comments_input' spellcheck="true" rows=5 ng-model='gig.availability[currentUser].comments' placeholder="Enter any questions or comments you have about the gig"  loading-feedback='setAvailability()'></textarea>
									<span class='user_gig_details_none'>{{gig.availability[currentUser].comments || 'None' }}</span>
								</dd>
							</div>
							<dt>When</dt>
							<dd class='clearfix'><span ng-show='gig.date'>{{ gig.date+'T08' | date:'EEEE, MMMM d, y' }} from {{gig.start_time | time }} - {{ gig.end_time  | time}}
								<br/>Load-in at {{ gig.meet_time | time }}
								<br/>Band play time from {{gig.band_start | time }} to {{gig.band_end | time}}
								</span>&nbsp;
							</dd>
							<dt>Where</dt>
							<dd class='clearfix'>{{ gig.location}} <span ng-show='gig.location'>[<small><a href='http://maps.google.com?q={{gig.location | URIencode }}' target='map'><i class='glyphicon glyphicon-map-marker'></i>Map</a></small>]</span>&nbsp; </dd>
							<!-- <dt>Tactical</dt>
							<dd class='clearfix'>
								{{gig.tactical.name}} &nbsp;
								<span ng-show='gig.tactical'>
									<a class='btn btn-info btn-xs' href='mailto:{{gig.tactical.email}}'>Email</a>
									<a class='btn btn-info btn-xs' href='smsto:{{gig.tactical.phone}}'>Text</a>
									<a class='btn btn-info btn-xs' href='tel:{{gig.tactical.phone}}'>Call</a>
								</span>
							</dd>
							<dt>Musical</dt>
							<dd class='clearfix'>
								{{ gig.musical.name }} &nbsp;
								<span ng-show='gig.musical'>
									<a class='btn btn-info btn-xs' href='mailto:{{gig.musical.email}}'>Email</a>
									<a class='btn btn-info btn-xs' href='sms:{{gig.musical.phone}}'>Text</a>
									<a class='btn btn-info btn-xs' href='tel:{{gig.musical.phone}}'>Call</a>
								</span>
							</dd>
							<dt>Colors</dt>
							<dd class='clearfix'>{{ gig.colors}}&nbsp; </dd> -->
							<dt>Who's Coming</dt>
								<dd class='clearfix'>
									<strong>Yeses:</strong> {{(membersList | availableFilter:['Yes', gig] | memberProperty:['name'])}}
									<br/><strong>Maybes:</strong> {{(membersList |  availableFilter:['Maybe', gig] |  memberProperty:['name'])}}
									<br/><strong>Noes:</strong> {{(membersList |  availableFilter:['No', gig] |  memberProperty:['name'])}}
									<br/>Contact Yeses and Maybes:
									<span ng-show='gig.tactical'>
										<a class='btn btn-info btn-xs' href="mailto:{{(membersList | availableFilter:['Coming', gig] | memberProperty:['email', ';'])}}">Email</a>
										<a class='btn btn-info btn-xs' href="sms:{{(membersList | availableFilter:['Coming', gig] | memberProperty:['phone'])}}">Text</a>
									</span>
								</dd>

							<dt>Notes</dt>
							<dd class='clearfix' ng-bind-html="gig.description | linky"></dd>
							<dt>Set List</dt>
							<dd class='clearfix'>
								<span ng-repeat='song in gig.setlist'><strong>{{$index+1}}.</strong> {{song}} </span>&nbsp;
							</dd>
              <dt>Public Title</dt>
              <dd class='clearfix' ng-bind-html="gig.public_title"></dd>
							<dt>Public Description</dt>
							<dd class='clearfix' ng-bind-html="gig.public_description | linky"></dd>
							<dt>Member Comments</dt>
								<dd class='clearfix'>
									<span class='' member-comments type='comments'></span>
								</dd>

							<dt>URL</dt>
							<dd class='clearfix' ng-bind-html="gig.url | linky"></dd>
							<!--<div ng-show='isCollapsed'><dt><a href='' ng-click="isCollapsed = !isCollapsed">More details…</a></dt><dd>&nbsp;</dd></div>
							<div collapse='isCollapsed'>-->
						</dl>
					</tab>
					<tab heading='Band Info' class='tab-pane' id='band_details' active="tab['band_details']">
						<div class='alert alert-danger' ng-show="gig.approved == 1 && !gig.publish">This gig has been confirmed, but won't be published to the website and public calendar unless it is set to publish below.</div>
						<div class='form-horizontal container-fluid'>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='title'>Title</label>
								<div class='col-md-8'>
									<input class='form-control' type='text' ng-model='gig.title'/>
								</div>
							</div>
							<div class='form-group'>
								<label class="col-md-4 control-label text-right">Status</label>
								<div class="col-md-8">
									<div class="btn-group">
										<button type="button" class="btn btn-default" ng-click='gig.approved=1' ng-class="{'active btn-success': gig.approved == 1}"><i class='glyphicon glyphicon-thumbs-up'></i> Confirmed</button>
										<button type="button" class="btn btn-default" ng-click='gig.approved=0' ng-class="{'active btn-warning': gig.approved == 0}" ><i class='glyphicon glyphicon-question-sign'></i> Undecided</button>
										<button type="button" class="btn btn-default" ng-click='gig.approved=-1' ng-class="{'active btn-danger': gig.approved == -1}" ><i class='glyphicon glyphicon-thumbs-down'></i> Canceled</button>
									</div>
								</div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='date'>Date</label>
								<div class='col-md-8'>
									<date-picker model="gig.date"></date-picker>
								</div>
							</div>
							<div class='form-group'>
								<label class="col-md-4 control-label text-right">Load-in Time</label>
								<div class='col-md-8'>
										<time-picker model='gig.meet_time'></time-picker>
								</div>
							</div>
							<div class='form-group'>
								<label class="col-md-4 control-label text-right">Band Play Time</label>
								<div class='col-md-8'>
									<time-picker model="gig.band_start"></time-picker>
									<label for='band_end'  style='vertical-align: text-bottom;'>To</label>
									<time-picker model="gig.band_end"></time-picker>
								</div>
							</div>
							<div class='form-group'>
								<label class="col-md-4 control-label text-right">Event Time</label>
								<div class='col-md-8'>
									<time-picker model="gig.start_time"></time-picker>
									<label for='band_end'  style='vertical-align: text-bottom;'>To</label>
									<time-picker model="gig.end_time"></time-picker>
								</div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='location'>Location</label>
								<div class='col-md-8'><input class='form-control' type='text' ng-model='gig.location'/></div>
							</div>
              <div class='form-group'>
                <label class='col-md-4 control-label text-right' for='description'>Notes</label>
                <div class='col-md-8'><textarea class='form-control' spellcheck="true" rows=5 ng-model='gig.description'></textarea></div>
              </div>
              <div class='form-group'>
                <label class='col-md-4 control-label text-right' for='url'>Publish to Website</label>
                <div class='col-md-8'><input class='form-control' type='checkbox' ng-model='gig.publish'/></div>
              </div>
              <div class='form-group'>
								<label class='col-md-4 control-label text-right' for='url'>URL</label>
								<div class='col-md-8'><input class='form-control' type='text' ng-model='gig.url'/></div>
							</div>

							<!-- <div class='form-group'>
								<label class='col-md-4 control-label text-right' for='tactical'>Tactical</label>
								<div class='col-md-8'>
									<input class='form-control' autocomplete='off' type='text' ng-model='gig.tactical' typeahead='member as member.name for member in membersList | filter:{name:$viewValue}' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='musical'>Musical</label>
								<div class='col-md-8'>
									<input class='form-control' autocomplete='off' type='text' typeahead='member as member.name for member in membersList | filter:{name: $viewValue}' ng-model='gig.musical'/>
								</div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='colors'>Colors</label>
								<div class='col-md-8'>
									<input class='form-control' type='text' autocomplete='off' typeahead="c for c in ['Red and Black', 'Pink and Black', 'Black and Black'] | filter:$viewValue" ng-model='gig.colors'/>
								</div>
							</div> -->
              <div class='form-group'>
                <label class='col-md-4 control-label text-right' for='url'>Public Title</label>
                <div class='col-md-8'><input class='form-control' type='text' placeholder='Defaults to regular title if not set' ng-model='gig.public_title'/></div>
              </div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='public_description'>Public Description</label>
								<div class='col-md-8'>
									<textarea placeholder='Enter a short (2-3 lines) description for the public calendar and website' class='form-control' spellcheck="true" ng-model='gig.public_description'></textarea>
								</div>
							</div>
              <div class='form-group'>
                <label class='col-md-4 control-label text-right' for='url'>Facebook Link</label>
                <div class='col-md-8'><input class='form-control' type='text' ng-model='gig.facebook_url'/></div>
              </div>
              <div class='form-group'>
                <label class='col-md-4 control-label text-right' for='url'>Tickets Link</label>
                <div class='col-md-8'><input class='form-control' type='text' ng-model='gig.tickets_url'/></div>
              </div>
							<!-- <div class='form-group'>
								<label class='col-md-4 control-label text-right' for='notes'>Notes</label>
								<div class='col-md-8'>
									<textarea class='form-control' spellcheck="true" rows=5 ng-model='gig.notes'></textarea>
								</div>
							</div> -->
							<div class='form-group'>
								<div class='col-md-offset-4 col-md-8'>
									<span ng-click='setModalState("email")' class='btn btn-primary'>Send Details to band list</span>
								</div>
							</div>
							<div class='form-group'>
								<h4 class='text-center'>Set List</h4>
									<div set-list songs='songs' setlist='gig.setlist'></div>
							</div>
						</div>
					</tab>
					<!-- <tab heading='Event Info' class='tab-pane' id='event_details' active="tab['event_details']">
						<div class='form-horizontal container-fluid'>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='title'>Title</label>
								<div class='col-md-8'>
									<input class='form-control' type='text' ng-model='gig.title'/>
								</div>
							</div>





							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='who'>Organizer</label>
								<div class='col-md-8'><input class='form-control' type='text' ng-model='gig.who'/></div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='contact'>Contact</label>
								<div class='col-md-8'><input class='form-control' type='text' ng-model='gig.contact'/></div>
							</div>
							<div class='form-group'>
								<label class='col-md-4 control-label text-right' for='details'>Details</label>
								<div class='col-md-8'><textarea class='form-control' spellcheck="true" rows=8 ng-model='gig.details'></textarea></div>
							</div>
						</div>
					</tab> -->
					<tab heading='Availability' class='tab-pane' id='availability' active="tab['availability']">
						<div class='band-availability'>
							<div class='panel panel-default'>
								<div class='panel-heading'>
									<div class='row form-inline text-center'>
										<span class='col-xs-6'>
											<label for='name_filter'>Name:</label>
											<input name='name_filter' autocomplete='off' style='margin-right: 20px;' class='form-control input-sm' type='text' ng-model='membernamefilter'/>
										</span>
										<span class='col-xs-6'>
											<label for='availability_filter'>Availability:</label>
											<select name='availability_filter' class='form-control input-sm' ng-model='memberavailablefilter' id='member_availability_filter'>
												<option value='' data-icon='glyphicon glyphicon-smile'>All</option>
												<option value='Yes' data-icon='glyphicon glyphicon-smile'>Available</option>
												<option value='No' data-icon='glyphicon glyphicon-frown'>Unavailable</option>
												<option data-icon='glyphicon glyphicon-meh'>Maybe</option>
												<option data-icon='glyphicon glyphicon-question'>Unknown</option>
											</select>
										</span>
									</div>
								</div>
								<ul class='list-group'>
									<li ng-class="{
											'list-group-item-success': gig.availability[member.id].available == 'Yes',
											'list-group-item-warning': gig.availability[member.id].available == 'Maybe',
											'list-group-item-danger': gig.availability[member.id].available == 'No'
										}" class='list-group-item' ng-repeat="member in membersList | filter:{name:membernamefilter} | availableFilter:[memberavailablefilter, gig]" id="availability_{{member.id}}">
										<div class='row'>
											<span class='col-xs-5'>
												{{member.name}} <small ng-style="{display: mobile ? 'block': ''}">({{member.groups}})</small>
											</span>
											<span class='col-xs-7'>
												<div class="btn-group btn-group" ng-class='{"btn-group-xs": mobile}' ng-click='update()' loading-feedback="setAvailability({{member.id}})">
														<label class="btn btn-default" ng-class="{'btn-success': gig.availability[member.id].available == 'Yes'}" ng-model="gig.availability[member.id].available" btn-radio="'Yes'">Yes</label>
														<label class="btn btn-default" ng-class="{'btn-warning': gig.availability[member.id].available == 'Maybe'}" ng-model="gig.availability[member.id].available" btn-radio="'Maybe'">Maybe</label>
														<label class="btn btn-default" ng-class="{'btn-danger': gig.availability[member.id].available == 'No'}" ng-model="gig.availability[member.id].available" btn-radio="'No'">No</label>
														<label class="btn btn-default" ng-model="gig.availability[member.id].available" btn-radio="'Unknown'">Unknown</label>
												</div>
											</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</tab>
				</tabset>
			</form>
		</div>
	</div>
</div>
<div modal='{{showModal}}'></div>

<script type="text/ng-template" id="setList.html">
	<div class='col-xs-12 setlist'>
		<div class='text-center'>
			Drag or double-click songs from the left to create a set list on the right. Drag to reorder the set list. Drag or double-click to remove songs from the set list.
		</div>

		<div sv-root class="multi-sortable">
			<div class="sortable-container panel panel-default col-xs-6" sv-part="songs">
				<div class='panel-heading clearfix'>
					<strong>Repertoire</strong>
					<br/>
					<!--this is just a placeholder to make lists line up-->
					<form style='visibility: hidden;' class='input-group input-group-sm'><input class='form-control'></form>
				</div>
				<ul class='list-group'>
					<li ng-repeat="item in songs" ng-dblclick="addSong(item)" sv-element class="list-group-item">
						<div class='media'>
							<div sv-handle ng-if='$parent.$parent.$parent.mobile' class="media-left">
								<img src='img/dndHandle.gif'/>
							</div>
							<div class='media-body'>
								{{item}}
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="sortable-container panel panel-info col-xs-6" sv-part="setlist">
				<div class='panel-heading'>
					<strong>Set List</strong>
						<br/>
						<form class='input-group input-group-sm' ng-submit='addSong()'>
							<input ng-model='$parent.newsong' class='form-control' placeholder='Add a song/chant not on the list'>
							<span ng-click='addSong()' class='input-group-addon'><i class='glyphicon glyphicon-plus'></i></span>
							<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
						</form>
				</div>
				<ul class='list-group'>
					<li ng-repeat="item in setlist" ng-dblclick="removeSong(item)" sv-element class="list-group-item">
						<div class='media'>
							<div sv-handle ng-if='$parent.$parent.$parent.mobile' class="media-left">
								<img src='img/dndHandle.gif'/>
							</div>
							<div class='media-body'>
								{{$index+1}}. {{item}}
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="emailInfo.html">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Send Band Email</h3>
		Review and edit the auto-generated email below.
		<br/><b>Note: </b>If you are adding any more information, please enter and save those details in giggity first!
		<div ng-if="! gig.details">You haven't entered any gig details. You should probably do that before sending the band an email</div>
		<div ng-if="! gig.meet_time">You haven't entered a meetup time. You should probably do that before sending the band an email</div>
	</div>
	<div class="modal-body">
		<div class='form form-horizontal'>
			<div class="form-group row">
				<label class="col-md-2 control-label text-right">Subject</label>
				<div class="col-md-10"><input class="form-control" type="text" ng-model="subject"/></div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 control-label text-right">Body</label>
				<div class="col-md-10"><textarea class="form-control" rows=15 ng-model="body"></textarea></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="" feedback-button ng-click='send()' class="btn btn-primary">Send Email</a>
		<a href="" data-dismiss='modal' class="btn btn-default">Cancel</a>
	</div>
</script>

<script type="text/ng-template" id="modal.html">
	<div id='modal' class='modal fade' data-keyboard='true' data-backdrop='true'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div ng-show='showModal == "login"'>
					<div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				    <h3>Sign In!</h3>
				  </div>
				  <div class="modal-body" style='max-height: 10000px; overflow: visible;'>
					  <p>This will make it easier for you to set your gig availability</p>
					  <form id='login_form' class='form-inline' ng-submit='setUser()'>
							<span id='login_error' class="help-inline text-danger" style='display: none;'>The name you typed isn't recognized. Please select a name from the dropdown. </span>
						  <input class='form-control' autocomplete='off' id='current_user_input' type='text' ng-model='user' placeholder='Just type your name' typeahead='member as member.name for member in membersList | filter:{name:$viewValue}' />
					    <button type='submit' class="btn btn-primary">OK</button>
					    <button type='button' ng-click='showModal=false' class="btn btn-default">Sign Out</button>
						</form>
					</div>
				</div>
				<div ng-show='showModal == "confirm"'>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3>Delete '{{gig.title}}'?</h3>
					</div>
					<div class="modal-body">
						<p>Are you sure?</p>
					</div>
					<div class="modal-footer">
						<a href="" ng-click='deleteGig(gig.gig_id)' class="btn btn-primary">Yes</a>
						<a href="" ng-click='showModal=false' class="btn btn-default">Cancel</a>
					</div>
				</div>
				<div ng-if='showModal == "email"'>
					<div email-info gig="gig"></div>
				</div>
			</div>
		</div>
	</div>
</script>
