.giggity-form {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;

    &>span,
    &>button {
      margin-right: 10px;
    }
  }
  padding-bottom: 8px;
  .progress {
    margin-right: 10px;
  }
}
